body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
.container {
  margin: 50px auto;
  max-width: 600px;
}
.description {
  width: 60%;
}
.description p {
  margin-top: 0;
}
.button {
  background: #d04242;
  border-radius: 4px;
  color: white;
  display: inline-block;
  float: right;
  margin: 0 0 20px 10px;
  padding: 8px 16px;
  text-decoration: none;
}
a {
  color: #d04242;
  text-decoration: none;
}
hr {
  clear: both;
}
pre {
  background: #f0f0f0;
  border: 1px solid #ddd;
  color: #666;
  padding: 0 16px;
}
.example-grid .grid {
  border-collapse: collapse;
}
.example-grid .grid > div {
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 16px;
}
