body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #333;
}
.container {
  max-width: 600px;
  margin: 50px auto;
}
pre {
  padding: 0 16px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  color: #666;
}
.example-grid .grid > div {
  padding: 16px;
  border: 1px solid #ddd;
  background: rgba(0,0,0,0.05);
}
