body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
.container {
  margin: 50px auto;
  max-width: 640px;
}
h1 {
  line-height: 1.5em;
}
h2 {
  margin-top: 40px;
}
.description {
  width: 60%;
}
.description p {
  margin-top: 0;
}
.button {
  background: #d04242;
  border-radius: 4px;
  border: 0;
  color: white;
  display: inline-block;
  float: right;
  margin: 5px 0 20px 10px;
  padding: 8px 16px;
  text-decoration: none;
}
a {
  color: #d04242;
  text-decoration: none;
}
hr {
  clear: both;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
h3 {
  margin: 0;
}
pre {
  color: #666;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
}
p code {
  background: #f0f0f0;
  color: #666;
  font-size: 14px;
  padding: 4px;
  position: relative;
  top: -1px;
}
/* Used to denote user-made classes for demonstration purposes */
.highlight {
  color: #d04242;
}
.example-grid .grid {
  border: 1px solid transparent;
  border-collapse: collapse;
  font-size: 14px;
  min-height: 58px;
  margin: 20px 0;
}
.example-grid .grid > div {
  background: #f0f0f0;
  border: 1px solid #ddd;
  color: #999;
  padding: 16px;
}
/* Used to center text for demonstration purposes */
.example-grid.center .grid {
  text-align: center;
}
/* Added height to show alignment more clearly for demonstration purposes */
#alignment .grid {
  min-height: 150px;
}
.grid > .top {
  vertical-align: top;
}
.grid > .middle {
  vertical-align: middle;
}
.grid > .bottom {
  vertical-align: bottom;
}
#tester {
  position: relative;
}
#tester:before {
  border: 1px dashed #ddd;
  box-sizing: border-box;
  color: #ddd;
  content: "Empty";
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 57px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
}
#tester .grid > div {
  overflow: hidden;
  padding: 16px 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tester .button {
  float: none;
  margin: 0;
  margin-right: 10px;
}
